<h3>Counter Ex:</h3>
count: {{ count }} <button (click)="setCount()">increment</button>

<h3>In built Pipes</h3>
<p>{{ "hello" | uppercase }}</p>
<p>{{ "message" | slice : 0 : 5 }}</p>
<p>{{ 250 | currency : "INR" }}</p>

<h3>Custom Pipes</h3>

<p>{{ "Angular" | reverse }}</p>

<h3>Form with two way binding</h3>

<form>
  <label>
    Name:
    <input type="text" [(ngModel)]="user.name" name="name" />
  </label>
  <br /><br />
  <label>
    Email:
    <input type="text" [(ngModel)]="user.email" name="email" />
  </label>

  <p><strong>Name:</strong> {{ user.name | titlecase }}</p>
  <p><strong>Email:</strong> {{ user.email | lowercase }}</p>
</form>

<h3>Directives</h3>

<h4>Structural Directive</h4>

<p *ngIf="displayP">display user data</p>

<ul *ngFor="let item of items">
  <li>Name: {{ item.name }}</li>
  <li>Age: {{ item.age }}</li>
</ul>

<div [ngSwitch]="role">
  <p *ngSwitchCase="'admin'">Admin Panel</p>
  <p *ngSwitchCase="'user'">User Panel</p>
  <p *ngSwitchDefault>Default Panel</p>
</div>

<p>NgTemplateoutlet ex</p>

<ng-template #adminTemplate>
  <p>This is admin Template</p>
</ng-template>

<ng-template #userTemplate>
  <p>This is user Template</p>
</ng-template>

<div [ngTemplateOutlet]="role == 'admin' ? adminTemplate : userTemplate"></div>

<h4>Behvioral Directive</h4>
<p [ngClass]="{ active: isActive }">This is bold</p>
<p [ngStyle]="{ color: isRed ? 'red' : 'blue' }">This is Red</p>

<h4>Custom Directive</h4>
<p highlight>this is custom Directive with highlight color</p>

<h3>Service and dependecy injections</h3>
<div *ngFor="let user of users">
  <p>{{ user.name }} - {{ user.email }}</p>
</div>

<h3>Accessing elements</h3>

<input type="text" value="this is accessed using viewchild" #myinput />
<p id="renderer">styled using renderer 2</p>
value accessed using global var
<input type="text" #tempInput />
<button (click)="getValue(tempInput.value)">get value</button>

<app-home-child
  [user]="parentUser"
  (messageEvent)="receivedMessage($event)"
></app-home-child>
